body{
    background-color:#e9ecef;
}
#first{
   margin:15%; 
   font-size: xx-large;
   font-family:Georgia, 'Times New Roman', Times, serif;
   border-radius: 5px;
   border: 1px;
   text-align: center;
}
#started{
    border-radius: 5px;
    padding: 5px;
    margin-top: 50px;
}
#started:active{
    background-color:#4361ee;
}
.viewDetails{
    padding: 5px;
    border-radius: 3px;
    background-color:#a2d2ff;
    color: white;
}
.viewDetails:active{
    background-color: #4361ee;
    color: black;
}
.head2{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    color: #14213d;
}
#serviceDetails{
    margin-left: 30%;
    width: 100vh;
}
#back:active{
    background-color: black;
    color: #ffffff;
}
#back2{
    margin-top: 50px;
    margin-left: 50px;
}
#back2:active{
    background-color: black;
    color: #ffffff;
}
#form{
    margin-left: 15%;
    padding-left: 10px;
    border-radius: 10px;
    border:2px;
}
#btn{
  text-align: center;  
}
#h22{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}
.serviceCard{
    color: #33415c;
}